{% extends 'skatebooks/main.html' %}
{% load static %}

{% block content %}

<!-- Header -->
<section>
  <div class="home-header-img-container">
    <h1 class="home-header-greeting">Wus' happenin'?</h1>
    <img class="home-header-img" src="{% static 'skatebooks/img/skate1.jpg' %}"> 
    <img class="home-header-img" src="{% static 'skatebooks/img/skate2.jpg' %}"> 
    <img class="home-header-img" src="{% static 'skatebooks/img/skate3.jpg' %}"> 
    <img class="home-header-img" src="{% static 'skatebooks/img/skate4.jpg' %}"> 
    <img class="home-header-img" src="{% static 'skatebooks/img/skate5.jpg' %}"> 
    <img class="home-header-img" src="{% static 'skatebooks/img/skate6.jpg' %}"> 
  </div>
</section>

<!-- Feed -->
<section>
  <div class="feed-wrapper">
    {% for spot in spots %}
    <div class="feed-container">
      <div class="feed-posts">
        <span><img class="feed-user-avatar" src={{ spot.user.avatar.url }}></span>
	<span class="feed-message-prompt">{{ spot.user.name }}</span>
	<hr class="feed-hr">
	<p>{{ spot.name }}</p>
	<p class="feed-location">{{ spot.location }}</p>
	<img class="feed-img"  src="{{ spot.image.url }}">
	<p>{{ spot.description }}</p>

	{% if spot.fuck12 %}
	<p class="feed-fuck12">🚔 fuck12: {{ spot.fuck12 }}</p>
	{% endif %}
      </div>

      <p class="posts">Posts</p> 
      <span><img class="feed-user-avatar" src={{ user.avatar.url }}></span>
      <span class="feed-message-prompt">Write something about this spot</span>
      <hr class="feed-hr">
      <a class="feed-comment-link" href="#"><i class="fa-regular fa-pen-to-square feed-comment-icon"></i>Comment</a>
    </div>
    {% endfor %}

    <div class="recent-container">
      <p>Recent</p>
    </div>
  </div>
</section>

{% endblock content %}
