{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/ico" href="{% static 'skatebooks/img/skate.png' %}">
  <link rel="stylesheet" href="{% static 'skatebooks/css/styles.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap" rel="stylesheet">
  <title>SkateBook</title>
</head>

<body>

 {% include 'skatebooks/navbar.html' %}

 {% block content %}

 {% endblock content %}
	
</body>
</html>
