{% extends 'skatebooks/components/base.html' %}

{% block content %}

{% include 'skatebooks/components/forms/search_form.html' %}

<div class="spot-container">
<div class="spot-image-container">
  <img class="spot-image" src="{{ spot.image.url }}">
</div>

  <div class="spot-details-container">
    <span><img class="spot-owner-avatar" src="{{ spot.owner.avatar.url }}"alt=""></span>	  
    <span>{{ spot.owner.username }}</span>
    <h1>{{ spot.name }}</h1>
    <a class="spot-location" href="https://www.google.com/maps/place/{{ spot.street }} {{ spot.city }} {{ spot.state }} {{ spot.zipcode }}">{{ spot.street }} {{ spot.city }}, {{ spot.state }} {{ spot.zipcode }}</a>
    <p class="spot-description">{{ spot.description }}</p>
    <p>🚔 {{ spot.twelve }}</p>
    <a href="/like_spot?spot_id={{ spot.id }}" class="like-btn"><i class="fa-regular fa-thumbs-up"> {{ spot.num_of_likes }}</i></a>
  </div>

</div>

{% endblock content %}
