{% extends 'skatebooks/components/base.html' %}

{% block content %}

{% include 'skatebooks/components/forms/search_form.html' %}

<div class="spot-container">
<div class="spot-image-container">
  <img class="spot-image" src="{{ spot.image.url }}">
</div>

  <div class="spot-details-container">
    <span><img class="spot-owner-avatar" src="{{ spot.owner.avatar.url }}"alt=""></span>	  
    <span>{{ spot.owner.username }}</span>
    <h1>{{ spot.name }}</h1>
    <a class="spot-location" href="https://www.google.com/maps/place/{{ spot.street }} {{ spot.city }} {{ spot.state }} {{ spot.zipcode }}">{{ spot.street }} {{ spot.city }}, {{ spot.state }} {{ spot.zipcode }}</a>
    <p class="spot-description">{{ spot.description }}</p>
    <p>🚔 {{ spot.twelve }}</p>
    <a id="spot-like-btn" href="/like_spot?spot_id={{ spot.id }}" class="like-btn"><i class="fa-regular fa-thumbs-up"> {{ spot.num_of_likes }}</i></a>

  <form class="spot-comment-form" action="" method="POST">
    {% csrf_token %}
    <input type="text" name="text" placeholder="leave a comment">
  </form>

  <button class="show-comments-btn">view comments</button>

  {% for comment in spot_comments %}
  <div class="spot-comment-container">
    <span><img class="spot-comment-owner-avatar" src="{{ comment.owner.avatar.url }}"alt=""></span>	  
    <span style="color: grey;"class="spot-comment-text">{{ comment.owner.username }}: </span>
    <span class="spot-comment-text">"{{ comment.text }}"</span>

    {% if user == comment.owner %}
    <form>
      <a href="{% url 'skatebooks:delete_comment' comment.id %}" class="spot-comment-text"><i class="fa fa-trash"></i></a>
    </form>
    {% endif %}

  </div>
  {% endfor %}

  </div>

</div>

{% endblock content %}
