:root {
	--primary-color: #000000;
	--white: #ffffff;
	--grey: #808080;
}

/* body */
body {
	background-color: var(--primary-color);
}

/* navbar */ 
nav {
	font-family: 'Rubik Iso', cursive;
	color: white;
}

.nav-link {
	color: white;
}

.navbar-brand {
	font-family: 'Rubik Iso', cursive;
	color: white;
	font-size: 60px;
	margin: 5%;
}

.navbar-img {
	width: 90px;
	height: 90px;
	padding: 15px;
	background-color: white;
	border-radius:50%;
}

/* home */
.home-header-img-container {
	display: block;
	margin: 3% auto auto 5%;
}

.home-header-greeting {
	color: var(--white);
}

.home-header-img {
	width: 200px;
	height: 200px;
	border: 2px solid grey;

}

.home-header-active-container {
	margin:5% auto;
	width: 70%;
}

.home-header-active-img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid var(--grey);
	margin: 2%;

}

.feed-wrapper {
	display: grid;
	grid-template-columns: 3fr 1fr;
	margin:0 auto;
	width: 60%;
}

.feed-col-2 {
	color: var(--white);
	margin-left: 20%;
}

.feed-owner-avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid var(--grey);
}

.feed-image {
	width: 700px;
	height: 600px;
}

.feed-details-container {
	background-color: var(--white);
}

.feed-owner-details-container {
	padding: 10px;
	font-size: 14px;
}

.feed-created-span {
	color: var(--grey);
	font-size: 14px;
}

.feed-hometown {
	margin-left: 8%;
	font-size: 14px;
	color: var(--grey);
}

.feed-bottom {
	padding: 15px;
	color: var(--primary);
	font-size: 14px;
}


.feed-location {
	text-decoration: none;
	color: var(--grey);
}

