:root {
	--primary-color: #000000;
	--white: #ffffff;
	--grey: #808080;
}

/* body */
body {
	background-color: var(--primary-color);
}

/* navbar */ 
nav {
	color: white;
}

.nav-link {
	color: white;
}

.navbar-brand {
	font-family: 'Rubik Iso', cursive;
	color: white;
	font-size: 60px;
	margin: 5%;
}

.navbar-img {
	width: 90px;
	height: 90px;
	padding: 15px;
	background-color: white;
	border-radius:50%;
}

.nav-item-avatar {
	width: 20px;
	height: 20px;
	border: 1px solid var(--grey);
	border-radius: 50%;
}

/* home */
.home-header-img-container {
	display: block;
	margin: 3% auto auto 5%;
}

.home-header-greeting {
	color: var(--white);
}

.home-header-img {
	width: 200px;
	height: 200px;
	border: 2px solid grey;

}

.home-header-active-container {
	margin:5% auto;
	width: 70%;
}

.home-header-active-img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid var(--grey);
	margin: 2%;

}

.feed-col-1 {
	display: block;
	margin: 0 auto;
	width: 50%;
}

@media (max-width: 1000px) {
	.feed-col-1 {
		width: 100%;
	}

	.feed-hometown {
		margin-left: 20%;
	}
}

.feed-owner-avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid var(--grey);
}

.feed-image {
	width: 100%;
	height: 100%;
}

.feed-likes-bold {
	color: #f70776;
}

.feed-like-link {
	text-decoration: none;
	color: var(--primary-color);
}

.feed-details-container {
	background-color: var(--white);
}

.feed-owner-details-container {
	padding: 10px;
	font-size: 14px;
}

.feed-created-span {
	color: var(--grey);
	font-size: 14px;
}

.feed-hometown {
	margin-left: 8%;
	font-size: 14px;
	color: var(--grey);
}

.feed-bottom {
	padding: 15px;
	color: var(--primary);
	font-size: 14px;
}


.feed-location {
	text-decoration: none;
	color: var(--grey);
}

.feed-messages-container {
	display: block;
}

#feed-messages-hidden {
	display: none;
}

.feed-icons {
	margin:0 2% 4% 0;
	
}

.feed-comment-form {
	display: none;
}

.feed-comment-input {
	border-radius: 12px;
	border: 1px solid var(--primary-color);
	padding: 3px;
}

#feed-icon-btn {
	background-color: white;
	border:none;
}

.show-messages-btn {
	background-color: white;
	border: none;
}

/* signup */
.signup-form-wrapper {
	display: block;
	margin: 5% auto;
	color: white;
}

.signup-form-wrapper input{
	display: block;
	margin: 1% auto;
	border-radius: 12px;
}

.signup-form-wrapper button {
	display: block;
	margin:2% auto;
	color: white;
	width: 18%;
	background-color: var(--primary);
	color: var(--white);
	border:2px solid var(--white);
	border-radius: 12px;
}

.signup-form-header {
	text-align: center;
	color: var(--white);
}

.signup-form-prompt {
	margin:-4% auto;
	width: 20%;
	text-align: center;
}

#signup-form-alt {
	text-decoration: none;
}

/* footer */
.footer-wrapper {
	margin-top: 10%;
	width: 100%;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.footer-wrapper a {
	text-decoration: none;
	color: var(--grey);
}

/* Upload form */

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
	text-decoration: none;
	display: block;
}

/* The popup form - hidden by default */
.form-popup {
	margin: 10% auto auto 25%;
  display: none;
  position: sticky;
	width: 50%;
  bottom: 0;
  border: 3px solid #f1f1f1;
  z-index: 9;
	background-color: black;
}

.form-popup-header {
	font-family: 'Rubik Iso', cursive;
	color: white;
}

/* Add styles to the form container */
.form-container {
	margin:0 auto;
  padding: 10px;
  background-color: black;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: black;
  color: white;
  padding: 16px 20px;
  border: 1px solid white;
	border-radius: 12px;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: black;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/* Profile settings */
.profile-settings-container {
	margin: 5% auto;
	width: 80%;
	color: white;
}

.profile-settings-container h1 {
	font-size: 22px;
}

.profile-settings-form-grid {
	display: grid;
	grid-template-columns: 3fr 1fr;
	width: 90%;
	
}

.profile-settings-avatar {
	width: 200px;
	border-radius: 12px;
}

.profile-settings-form {
	border-radius: 12px;
	background-color: var(--white);
	margin-right: 10%;
	padding: 50px;
	color: var(--primary-color);
}

.profile-settings-form label {
	margin-top: 2%;
}

.profile-settings-form input {
	margin-top: 5%;
	border-radius: 12px;
	border: 1px solid var(--primary-color);
}

.profile-settings-form button {
	margin-top: 5%;
	background-color: var(--primary-color);
	border: 1px solid var(--white);
	border-radius: 12px;
	color: var(--white);
	padding: 5px;
}

.profile-settings-cancel-btn {
	color: var(--white);
	text-decoration: none;
}
